@import 'tailwindcss';

@theme {
	--font-playfair: var(--font-playfair);
	--font-inter: var(--font-inter);

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
}

:root {
	/* Luxury Color Palette */
	/* Deep Jungle Green */
	--primary: #3b5844;
	--primary-foreground: #ffffff;

	/* Soft Cream/Beige */
	--secondary: #f5f0e6;
	--secondary-foreground: #1a3c34;

	/* Gold/Bronze Accent */
	--accent: #d4af37;
	--accent-foreground: #ffffff;

	--background: #d0d8c3;
	--foreground: #2d2d2d;
}

@layer base {
	body {
		@apply bg-background text-foreground font-[family-name:var(--font-inter)];
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-[family-name:var(--font-playfair)];
	}
}
